.home-heading-cotainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-heading__title {
    color: var(--heading-color);
    font-size: 18px;
    line-height: 26px;
    font-weight: 540;
    text-transform: uppercase;
}

.home-heading__view-all {
    color: #333333;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.home-heading__view-all svg {
    color: var(--primary-color);
    margin-right: 4px;
    font-weight: 300;
}