:root {
    --primary-color: #E20E86;
    --heading-color: #1b448e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Roboto',
        'Segoe UI',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Mulish',
        'Helvetica Neue',
        sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.hover-effect {
    transition: all linear 0.2s;
}

.hover-effect:hover {
    background-color: #F1F1F1;
}

.hover-effect-transition {
    transition: transform linear 0.2s;
}

.hover-effect-transition:hover {
    transform: translateX(5px);
}

.hover-effect-color {
    transition: all 0.3 linear;
}

.hover-effect-color:hover {
    color: var(--primary-color);
}

.margin-header {
    border-top: 1px solid #ec219498;
}

.red-text {
    color: rgb(255, 17, 0);
}


@import url('./style/grid.css');

@import url('./style/detail-tour-page.css');